body {
  margin: 0;
  font-family: Arial, sans-serif;
}


header {
  background: #004d60;
  padding: 10px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px; /* Ajusta el tamaño del logo según tus preferencias */
  margin-right: 10px;
}

.logo img {
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 100px; /* Ajusta el tamaño de la fuente del título según tus preferencias */
  margin: 0;
  color: #0fbfeb; /* Cambia el color del título según tus preferencias */
}
h2{
  text-align: center;
  font-size: 50px; /* Ajusta el tamaño de la fuente del título según tus preferencias */
  margin: 0;
  color: #0fbfeb; /* Cambia el color del título según tus preferencias */
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.menu-icon {
  color: #333;
  font-size: 24px;
  cursor: pointer;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  margin-left: 30px;
}

.menu a {
  text-decoration: none;
  color: #008cba;
  transition: color 0.3s;
}

.menu a:hover {
  color: #004d60;
}
.main-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}